<?xml version="1.0" ?>
<model>
    <name>Yacht Scene</name>
    <version>1.0</version>
    <sdf version="1.0">model.sdf</sdf>
    <author>
        <name>Lucas Longaray</name>
        <email>longaray.lucas@gmail.com</email>
    </author>
    <description>Similar scene from Yacht Club Rio Grande</description>
</model>
